@model Async_Inn.Models.RoomAmenity

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h2>Remove Room Amenity</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RoomAmenity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amenity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amenity.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AmenityID" />
        <input type="hidden" asp-for="RoomID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>